<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.inflearn.mapper.BoardMapper">
	
	<!--  게시글 조회 -->
	<select id="getList" resultType="boardVO">
		select * from tb_board;
	</select>
	
	<!--  게시글 작성 -->
	<insert id="insert" parameterType="boardVO">
		insert into tb_board(title, contents, count, writer)
		value(#{title},#{contents},#{count},#{writer})
	</insert>
	
	<!--  상세글 조회 -->
	<select id="read" parameterType="Integer" resultType="boardVO">
		select * from tb_board where idx = #{idx}
	</select>
	
	<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="Integer">
		delete from tb_board where idx = #{idx}
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="update" parameterType="boardVO">
		update tb_board set title = #{title}, contents = #{title}
		where idx = #{idx}
	</update>

</mapper>